.detail_movie {
  width: 45%;
  min-width: 500px;
  background-color: white;
  margin-bottom: 70px;
  display: contents;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #adaeb9;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.detail_movie img {
  margin: auto;
  display: block;
  width: 400px;
  height: 500px;
}

.detail_text {
  text-align: center;
  font-weight: bold;
  width: 500px;
}

.detail_title {
  color: black;
}
